/* div.css */
.reklamlar {
  margin-top: 250px;
  margin-left: 0;
}

.reklam1{
 border: 1px solid #000;
 padding-right: 10px;
}

.sorulanSorular {
  margin-top: 50px;
  margin-left: 0;
}

.sorulanSorular img {
  border: 1px solid #000;
  padding: 10px;
}

.soru {
  margin-bottom: 20px;
}

.ob-select {
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a5c0a;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  width: 1400px;
  height: 120px;
}

.inner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 250px;
  height: 50px;
  border-radius: 20px;
}

.baslangic {
  margin-right: 50px;
  font-size: 20px;
  border-radius: 5px;
}

.baslabel {
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bitis {
  font-size: 20px;
  border-radius: 5px;
  margin-right: 800px;
}

.bitislabel {
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.biletarabox {
  height: 120px;
  width: 1200px;
  margin-top: 50px;
  background-color: #0a5c0a;
  color: #fff;
  margin-left: calc(50% - 600px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  align-content: center;
  font-weight: bold;
}

.tarihlabel {
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: -750px;
  margin-right: 50px;
}

.tarihinput {
  margin-left: 730px;
  transform: translate(35px,-31px);
  border-radius: 5px;
  border: solid 1px #fff;
  font-size: 18px;
}



.biletara {
  margin-bottom: 20px;
  margin-right: 125px;
}

.submit {
  transform: translate(-400px,20px);
  border: solid 2px #fff;
  color: #0a5c0a;
  border-radius: 10px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 20px;
}

.submit:hover {
  background-color: #0a5c0a;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  * {
    width: 100%;
  }
}